/****************element seclector***************/
body {
  background-image: url(/qr-code-component-main/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  line-height: 2;
}
img {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 50px;
}
h2 {
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
}
p {
width: 70%;
margin: 20px auto;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: #35589A;
}
a:hover {
  color: #950101;
}
/*****************Class selector*****************/
.middle {
  background-color: hsl(212, 45%, 89%);
  width: 80%;
  margin: 100px auto;
  padding: 100px;
  border-radius: 50px;
}
.background-middle {
  background-color: white;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 50px;
}
